@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;

}

.header, .card, .footer {
    padding: 0px 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 75px;

}

.content{
    display: flex;
    flex-direction: column;
}
.card {
    display: flex;
    
}

.first{
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;

    
}

.first .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 1 100%;
    gap: 20px;
    padding-right: 50px;
    
}
.first .image{
    display: flex;
    background-color: gray;
    color: white;
    justify-content: center;
    align-items: center;
    flex: 0 1 100%;
}

.first .container .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

/** .first .container **/
button{
    box-sizing: content-box;
    width: 125px;
    border: none;
    background-color: #3882F6;
    padding: 20px;
    border-radius: 15px;

    color: white;
    font-size: 18px;
}

.second {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.second .text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.second .secondary{
    color: #1F2937;
    display: flex;
    text-align: center;
    
}

.second .container{
    width: 150px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.second .container .subcontainer {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.square {
    border-style: solid;
    border-width: 5px;
    border-radius: 10%;
    border-color: #3882F6;
    height: 150px;
    width: 150px;

}

.third{
    background-color: #E5E7EB;
    padding: 100px 300px;

    
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.bigquote{
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}
.sourceofquote{
    align-self:flex-end;
    font-size: 18px;
    color: #1F2937;
    font-weight: 800;
}

.fourth {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}
.block{
    flex-grow: 1;
    background: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
}

.fourth button{
    border-style: solid;
    border-color: white;
    padding: 10px;
}
.fourth .container{
    display: flex;
    flex-direction: column;
}
.subject{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}




.header ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.secondary {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}


.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.footer{
    background-color: #1F2937;
    display: flex;
    padding: 50px 200px;
    justify-content: center;
}
.copyright {
    color: #F9FAF8;
}